<a href="https://colab.research.google.com/github/Manish-k723/Cricket-score-prediction/blob/main/Cricket_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Data**

In [1]:
import pandas as pd
import numpy as np

In [2]:
result_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL_Matches_Result_2008_2022.csv')
input_format_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/input_test_file.csv')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
input_format_df

,venue,innings,batting_team,bowling_team,batsmen,bowlers
0,MA Chidambaram Stadium,1,Mumbai Indians,Kolkata Knight Riders,"Quinton de Kock, Rohit Sharma, Suryakumar Yadav","Harbhajan Singh, Varun Chakravarthy, Shakib Al..."
1,MA Chidambaram Stadium,2,Kolkata Knight Riders,Mumbai Indians,"Harbhajan Singh, Varun Chakravarthy, Shakib Al...","Quinton de Kock, Rohit Sharma, Suryakumar Yadav"

These are our input columns and we have to use this much data for prediction.

In [4]:
result_df.shape

(950, 20)

In [5]:
result_df.sample(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
138,1216495,NaN,2020-11-03,2020/21,56,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,10.0,NaN,S Nadeem,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",C Shamshuddin,RK Illingworth
11,1304109,Mumbai,2022-05-15,2022,63,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat,N,Rajasthan Royals,Runs,24.0,NaN,TA Boult,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'A Badoni', 'DJ Hood...",PG Pathak,Tapan Sharma
635,548374,Dharamsala,2012-05-19,2012,69,Kings XI Punjab,Delhi Daredevils,Himachal Pradesh Cricket Association Stadium,Delhi Daredevils,field,N,Delhi Daredevils,Wickets,6.0,NaN,UT Yadav,"['AC Gilchrist', 'Mandeep Singh', 'PC Valthaty...","['UBT Chand', 'DA Warner', 'Y Venugopal Rao', ...",BF Bowden,VA Kulkarni

In [6]:
result_df.isna().mean()*100

ID                  0.000000
City                5.368421
Date                0.000000
Season              0.000000
MatchNumber         0.000000
Team1               0.000000
Team2               0.000000
Venue               0.000000
TossWinner          0.000000
TossDecision        0.000000
SuperOver           0.421053
WinningTeam         0.421053
WonBy               0.000000
Margin              1.894737
method             98.000000
Player_of_Match     0.421053
Team1Players        0.000000
Team2Players        0.000000
Umpire1             0.000000
Umpire2             0.000000
dtype: float64

98% of the data is not available in margin column. Easy decision to drop it.

In [7]:
df.shape

(225954, 17)

In [8]:
result_df[result_df.ID == 1312200]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [9]:
df[df.ID == 1312200]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1312200,2,17,3,DA Miller,R Ashwin,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
229,1312200,2,17,4,Shubman Gill,R Ashwin,DA Miller,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
230,1312200,2,17,5,Shubman Gill,R Ashwin,DA Miller,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
231,1312200,2,17,6,DA Miller,R Ashwin,Shubman Gill,NaN,2,0,2,0,0,NaN,NaN,NaN,Gujarat Titans
232,1312200,2,18,1,Shubman Gill,OC McCoy,DA Miller,NaN,6,0,6,0,0,NaN,NaN,NaN,Gujarat Titans

In [10]:
df.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

With this data and very different type of input, our main challenge it to extract the relatable and important feature and shape the data.

In [11]:
df.isna().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

# **Understanding data**

In [12]:
df.drop(['extra_type','player_out','kind','fielders_involved'], axis =1 , inplace = True)
#As more than 85% of the data is not nan. The clear reason behind this is it is not possible to have wickets in each ball

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                225954 non-null  int64
 1   innings           225954 non-null  int64
 2   overs             225954 non-null  int64
 3   ballnumber        225954 non-null  int64
 4   batter            225954 non-null  object
 5   bowler            225954 non-null  object
 6   non-striker       225954 non-null  object
 7   batsman_run       225954 non-null  int64
 8   extras_run        225954 non-null  int64
 9   total_run         225954 non-null  int64
 10  non_boundary      225954 non-null  int64
 11  isWicketDelivery  225954 non-null  int64
 12  BattingTeam       225954 non-null  object
dtypes: int64(9), object(4)
memory usage: 22.4+ MB

Here, we have to predict the score upto powerplay only which means we can drop the other data rows from our df.

In [14]:
df = df[df.overs<6]

In [15]:
df.shape

(71082, 13)

In [16]:
id = result_df['ID']

In [17]:
id.nunique()

950

In [18]:
df.ID.nunique()

950

In [19]:
result_df.Season.unique()

array(['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08'],
      dtype=object)

In [20]:
min(df['ID'])

335982

In [21]:
df[df['ID']==113658]

Empty DataFrame
Columns: [ID, innings, overs, ballnumber, batter, bowler, non-striker, batsman_run, extras_run, total_run, non_boundary, isWicketDelivery, BattingTeam]
Index: []

Creating a new column powerplay runs which counts total runs scored in the powerplay overs by a team.

# **Data Preparation**
In this section, I will prepare the data from raw form to required form.

In [22]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
# Create a new dataframe to store the total runs scored during powerplay for each match
powerplay_runs = pd.DataFrame(columns=['ID', 'inning', 'powerplay_runs'])

# Iterate over each match and inning
for match_id in df['ID'].unique():
  try:
    for inning in [1, 2]:
        # Filter the data for the current match and inning, and the first 6 overs
        powerplay_data = df[(df['ID'] == match_id) & 
                                  (df['innings'] == inning) & 
                                  (df['overs'] < 6)]
        # Calculate the total runs scored during the powerplay
        total_powerplay_runs = powerplay_data['total_run'].sum()
        total_powerplay_wickets = powerplay_data['isWicketDelivery'].sum()
        batting_team = powerplay_data['BattingTeam'].unique()[0]
        bowling_team = df[(df['ID'] == match_id) & 
                          (df['innings'] == (1 if inning==2 else 2)) & 
                          (df['overs'] == 1)]['BattingTeam'].values[0]
        # Add the match_id, inning, and total runs to the powerplay_runs dataframe
        powerplay_runs = powerplay_runs.append({'ID': match_id, 'inning': inning, 
                                                'powerplay_runs': total_powerplay_runs,'powerplay_wickets':total_powerplay_wickets
                                                , 'Batting_team':batting_team, 'Bowling_team': bowling_team}, 
                                               ignore_index=True)
  except:
    continue

In [24]:
powerplay_runs

,ID,inning,powerplay_runs,powerplay_wickets,Batting_team,Bowling_team
0,1312200,1,44,1.0,Rajasthan Royals,Gujarat Titans
1,1312200,2,31,2.0,Gujarat Titans,Rajasthan Royals
2,1312199,1,46,1.0,Royal Challengers Bangalore,Rajasthan Royals
3,1312199,2,67,1.0,Rajasthan Royals,Royal Challengers Bangalore
4,1312198,1,52,1.0,Royal Challengers Bangalore,Lucknow Super Giants
...,...,...,...,...,...,...
1891,335984,2,55,1.0,Delhi Daredevils,Rajasthan Royals
1892,335983,1,53,1.0,Chennai Super Kings,Kings XI Punjab
1893,335983,2,63,1.0,Kings XI Punjab,Chennai Super Kings
1894,335982,1,61,1.0,Kolkata Knight Riders,Royal Challengers Bangalore
1895,335982,2,26,4.0,Royal Challengers Bangalore,Kolkata Knight Riders

In [25]:
merged_df = pd.merge(powerplay_runs, result_df, how = 'left',on = 'ID')

Selecting only required columns

In [26]:
merged_df.columns

Index(['ID', 'inning', 'powerplay_runs', 'powerplay_wickets', 'Batting_team',
       'Bowling_team', 'City', 'Date', 'Season', 'MatchNumber', 'Team1',
       'Team2', 'Venue', 'TossWinner', 'TossDecision', 'SuperOver',
       'WinningTeam', 'WonBy', 'Margin', 'method', 'Player_of_Match',
       'Team1Players', 'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [27]:
merged_df = merged_df[['ID', 'inning','Venue','Season','Batting_team',
       'Bowling_team', 'City','Team1','Team1Players','Team2','Team2Players','powerplay_wickets','powerplay_runs']]

In [28]:
merged_df['Team1Players'][0]

"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']"

In [29]:
input_format_df

,venue,innings,batting_team,bowling_team,batsmen,bowlers
0,MA Chidambaram Stadium,1,Mumbai Indians,Kolkata Knight Riders,"Quinton de Kock, Rohit Sharma, Suryakumar Yadav","Harbhajan Singh, Varun Chakravarthy, Shakib Al..."
1,MA Chidambaram Stadium,2,Kolkata Knight Riders,Mumbai Indians,"Harbhajan Singh, Varun Chakravarthy, Shakib Al...","Quinton de Kock, Rohit Sharma, Suryakumar Yadav"

In [30]:
merged_df.columns

Index(['ID', 'inning', 'Venue', 'Season', 'Batting_team', 'Bowling_team',
       'City', 'Team1', 'Team1Players', 'Team2', 'Team2Players',
       'powerplay_wickets', 'powerplay_runs'],
      dtype='object')

In [31]:
# Define a function to extract the player names for a given team
def extract_players(team_name, team_players1, team_players2, team1_name, team2_name):
    if team_name == team1_name:
        return team_players1
    else:
        return team_players2

# Apply the extract_players function to create the batting_team_players and bowling_team_players columns
merged_df['batting_team_players'] = merged_df.apply(lambda row: extract_players(row['Batting_team'], row['Team1Players'],row['Team2Players'], row['Team1'], row['Team2']), axis=1)
merged_df['bowling_team_players'] = merged_df.apply(lambda row: extract_players(row['Bowling_team'], row['Team1Players'],row['Team2Players'], row['Team1'], row['Team2']), axis=1)

In [32]:
merged_df = merged_df.drop(['Team1','Team1Players','Team2', 'Team2Players'], axis=1)

In [33]:
merged_df['Season'].unique()

array(['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08'],
      dtype=object)

In [34]:
merged_df.City.unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [35]:
merged_df['is_india'] = merged_df.apply(lambda row: 0 if row['City'] in ['Dubai','Sharjah', 'Abu Dhabi','Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'] else 1, axis = 1)

In [36]:
input_format_df

,venue,innings,batting_team,bowling_team,batsmen,bowlers
0,MA Chidambaram Stadium,1,Mumbai Indians,Kolkata Knight Riders,"Quinton de Kock, Rohit Sharma, Suryakumar Yadav","Harbhajan Singh, Varun Chakravarthy, Shakib Al..."
1,MA Chidambaram Stadium,2,Kolkata Knight Riders,Mumbai Indians,"Harbhajan Singh, Varun Chakravarthy, Shakib Al...","Quinton de Kock, Rohit Sharma, Suryakumar Yadav"

In [37]:
input_format_df.iloc[:,:]

,venue,innings,batting_team,bowling_team,batsmen,bowlers
0,MA Chidambaram Stadium,1,Mumbai Indians,Kolkata Knight Riders,"Quinton de Kock, Rohit Sharma, Suryakumar Yadav","Harbhajan Singh, Varun Chakravarthy, Shakib Al..."
1,MA Chidambaram Stadium,2,Kolkata Knight Riders,Mumbai Indians,"Harbhajan Singh, Varun Chakravarthy, Shakib Al...","Quinton de Kock, Rohit Sharma, Suryakumar Yadav"

In [38]:
merged_df.head()

,ID,inning,Venue,Season,Batting_team,Bowling_team,City,powerplay_wickets,powerplay_runs,batting_team_players,bowling_team_players,is_india
0,1312200,1,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Gujarat Titans,Ahmedabad,1.0,44,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",1
1,1312200,2,"Narendra Modi Stadium, Ahmedabad",2022,Gujarat Titans,Rajasthan Royals,Ahmedabad,2.0,31,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",1
2,1312199,1,"Narendra Modi Stadium, Ahmedabad",2022,Royal Challengers Bangalore,Rajasthan Royals,Ahmedabad,1.0,46,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",1
3,1312199,2,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Royal Challengers Bangalore,Ahmedabad,1.0,67,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...",1
4,1312198,1,"Eden Gardens, Kolkata",2022,Royal Challengers Bangalore,Lucknow Super Giants,Kolkata,1.0,52,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",1

Now, Dropping city column because we have created other column is_india which indicated whether the following season of IPL happended in India or outside. And also dropping wicket column because in my view this can be also considered as target column.

In [39]:
merged_df.drop(['City', 'powerplay_wickets'], inplace = True, axis = 1)

In [40]:
merged_df.columns

Index(['ID', 'inning', 'Venue', 'Season', 'Batting_team', 'Bowling_team',
       'powerplay_runs', 'batting_team_players', 'bowling_team_players',
       'is_india'],
      dtype='object')

Separating batting_players_name and bowling_players_name which have players name in comma separated form into sperate columns for player1 to player 11.

In [41]:
merged_df['batting_team_players'][0].split(',')[10]

" 'YS Chahal']"

In [42]:
# Define a function to split the player names
def extract_player_names(player_string, player_index):
    try:
        return player_string.split(',')[player_index]
    except IndexError:
        return ''

In [43]:
for i in range(1, 12):
    col_name = 'batsmen{}'.format(i)
    merged_df[col_name] = merged_df['batting_team_players'].apply(lambda x: extract_player_names(x, i-1))

In [44]:
for i in range(1,12):
  col = 'bowler{}'.format(i)
  merged_df[col] = merged_df['bowling_team_players'].apply(lambda x: extract_player_names(x,i-1))

In [45]:
merged_df.tail()

,ID,inning,Venue,Season,Batting_team,Bowling_team,powerplay_runs,batting_team_players,bowling_team_players,is_india,...,bowler2,bowler3,bowler4,bowler5,bowler6,bowler7,bowler8,bowler9,bowler10,bowler11
1891,335984,2,Feroz Shah Kotla,2007/08,Delhi Daredevils,Rajasthan Royals,55,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",1,...,'YK Pathan','SR Watson','M Kaif','DS Lehmann','RA Jadeja','M Rawat','D Salunkhe','SK Warne','SK Trivedi','MM Patel']
1892,335983,1,"Punjab Cricket Association Stadium, Mohali",2007/08,Chennai Super Kings,Kings XI Punjab,53,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...","['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...",1,...,'JR Hopes','KC Sangakkara','Yuvraj Singh','SM Katich','IK Pathan','P Dharmani','B Lee','PP Chawla','WA Mota','S Sreesanth']
1893,335983,2,"Punjab Cricket Association Stadium, Mohali",2007/08,Kings XI Punjab,Chennai Super Kings,63,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",1,...,'ML Hayden','MEK Hussey','MS Dhoni','SK Raina','JDP Oram','S Badrinath','Joginder Sharma','P Amarnath','MS Gony','M Muralitharan']
1894,335982,1,M Chinnaswamy Stadium,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,61,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",1,...,'W Jaffer','V Kohli','JH Kallis','CL White','MV Boucher','B Akhil','AA Noffke','P Kumar','Z Khan','SB Joshi']
1895,335982,2,M Chinnaswamy Stadium,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,26,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",1,...,'BB McCullum','RT Ponting','DJ Hussey','Mohammad Hafeez','LR Shukla','WP Saha','AB Agarkar','AB Dinda','M Kartik','I Sharma']

In [46]:
#Dropping batting_team_players and bowling_team_players column as we have extracted name of each player.
merged_df.drop(['batting_team_players','bowling_team_players'], axis = 1, inplace = True)

In [47]:
# merged_df.drop('Season',axis = 1, inplace = True)

Now, we have somewhat prepared our data.

In [48]:
# merged_df.drop(['Team1','Team2'], axis = 1, inplace = True)

In [49]:
# merged_df.drop(['Team1Players','Team2Players'], axis = 1, inplace = True)

In [50]:
merged_df.columns

Index(['ID', 'inning', 'Venue', 'Season', 'Batting_team', 'Bowling_team',
       'powerplay_runs', 'is_india', 'batsmen1', 'batsmen2', 'batsmen3',
       'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8', 'batsmen9',
       'batsmen10', 'batsmen11', 'bowler1', 'bowler2', 'bowler3', 'bowler4',
       'bowler5', 'bowler6', 'bowler7', 'bowler8', 'bowler9', 'bowler10',
       'bowler11'],
      dtype='object')

In [69]:
merged_df.head()

,ID,inning,Venue,Season,Batting_team,Bowling_team,powerplay_runs,is_india,batsmen1,batsmen2,...,bowler2,bowler3,bowler4,bowler5,bowler6,bowler7,bowler8,bowler9,bowler10,bowler11
0,1312200,1,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Gujarat Titans,44,1,YBK Jaiswal,JC Buttler,...,Shubman Gill,MS Wade,HH Pandya,DA Miller,R Tewatia,Rashid Khan,R Sai Kishore,LH Ferguson,Yash Dayal,Mohammed Shami
1,1312200,2,"Narendra Modi Stadium, Ahmedabad",2022,Gujarat Titans,Rajasthan Royals,31,1,WP Saha,Shubman Gill,...,JC Buttler,SV Samson,D Padikkal,SO Hetmyer,R Ashwin,R Parag,TA Boult,OC McCoy,M Prasidh Krishna,YS Chahal
2,1312199,1,"Narendra Modi Stadium, Ahmedabad",2022,Royal Challengers Bangalore,Rajasthan Royals,46,1,V Kohli,F du Plessis,...,JC Buttler,SV Samson,D Padikkal,SO Hetmyer,R Parag,R Ashwin,TA Boult,YS Chahal,M Prasidh Krishna,OC McCoy
3,1312199,2,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Royal Challengers Bangalore,67,1,YBK Jaiswal,JC Buttler,...,F du Plessis,RM Patidar,GJ Maxwell,MK Lomror,KD Karthik,Shahbaz Ahmed,PWH de Silva,HV Patel,JR Hazlewood,Mohammed Siraj
4,1312198,1,"Eden Gardens, Kolkata",2022,Royal Challengers Bangalore,Lucknow Super Giants,52,1,V Kohli,F du Plessis,...,KL Rahul,M Vohra,DJ Hooda,MP Stoinis,E Lewis,KH Pandya,PVD Chameera,Mohsin Khan,Avesh Khan,Ravi Bishnoi

In [100]:
# merged_df.to_csv('Data1.csv')

# **Data Preprocessing**

In [70]:
def clean_names(data, cols):
    for col in cols:
        data[col] = data[col].str.replace('[','')
        data[col] = data[col].str.replace(']','')
        data[col] = data[col].str.replace("'","")
    return data

In [71]:
merged_df = clean_names(merged_df, ['batsmen1', 'batsmen2', 'batsmen3', 'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8', 'batsmen9', 'batsmen10', 'batsmen11'])
merged_df = clean_names(merged_df, [f'bowler{i}' for i in range(1,12)])

In [72]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [73]:
ohe = OneHotEncoder(handle_unknown='ignore')

# fit and transform the batting_team and bowling_team columns
# ohe.fit_transform(merged_df[['Batting_team', 'Bowling_team']]).toarray()

# concatenate the encoded columns with the existing dataframe
encoded_cols = pd.DataFrame(ohe.fit_transform(merged_df[['Batting_team', 'Bowling_team']]).toarray(), columns=ohe.get_feature_names_out(['Batting_team', 'Bowling_team']))
batsmen_enc = pd.DataFrame(ohe.fit_transform(merged_df[['batsmen1', 'batsmen2', 'batsmen3', 'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8', 
                                                        'batsmen9', 'batsmen10', 'batsmen11']]).toarray(), columns = ohe.get_feature_names_out(['batsmen1', 
                                                    'batsmen2', 'batsmen3', 'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8', 'batsmen9', 
                                                    'batsmen10', 'batsmen11']))
bowler_enc = pd.DataFrame(ohe.fit_transform(merged_df[['bowler1', 'bowler2', 'bowler3', 'bowler4', 'bowler5', 'bowler6', 'bowler7', 
                                                       'bowler8', 'bowler9', 'bowler10', 'bowler11']]).toarray(), columns = ohe.get_feature_names_out(['bowler1'
                                                       , 'bowler2', 'bowler3', 'bowler4', 'bowler5', 'bowler6', 'bowler7', 'bowler8', 'bowler9', 'bowler10', 
                                                       'bowler11']))
venue_enc = pd.DataFrame(ohe.fit_transform(merged_df[['Venue']]).toarray(), columns = ohe.get_feature_names_out(['Venue']))

In [74]:
data = pd.concat([merged_df, encoded_cols, batsmen_enc, bowler_enc, venue_enc], axis=1)

In [75]:
data.shape

(1896, 5007)

In [76]:
data['powerplay_runs'] = data['powerplay_runs'].astype(int)

In [77]:
data.drop(['Venue','Batting_team', 'Bowling_team'], axis = 1, inplace = True)

In [78]:
data.drop([f'batsmen{i}' for i in range(1,12)], axis = 1, inplace = True)

In [79]:
data.drop([f'bowler{i}' for i in range(1,12)], axis = 1, inplace = True)

In [80]:
data.shape

(1896, 4982)

In [81]:
data.drop('ID', axis = 1, inplace = True)

In [82]:
data['inning'] = data['inning'].astype(int)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1896 entries, 0 to 1895
Columns: 4981 entries, inning to Venue_Zayed Cricket Stadium, Abu Dhabi
dtypes: float64(4977), int64(3), object(1)
memory usage: 72.1+ MB

In [84]:
data.shape

(1896, 4981)

In [67]:
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import Ridge
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.svm import SVR
# from sklearn.metrics import

In [85]:
data['Season'] = np.where(data['Season']=='2007/08', '2008', data['Season'])
data['Season'] = np.where(data['Season']=='2009/10', '2010', data['Season'])
data['Season'] = np.where(data['Season']=='2020/21', '2020', data['Season'])

In [86]:
data['Season'] =  data['Season'].astype(int)

In [87]:
train_df = data[data['Season']<2021]
val_df = data[data['Season']>2020]

In [88]:
X_train = train_df.drop('powerplay_runs', axis=1)
y_train = train_df['powerplay_runs']
X_val = val_df.drop('powerplay_runs', axis=1)
y_val = val_df['powerplay_runs']

In [91]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
from sklearn.svm import SVR

In [92]:
lr = LinearRegression()
ridge = Ridge(alpha = 1.0)
rfc = RandomForestClassifier(n_estimators=200, random_state=2)
gbr = GradientBoostingRegressor(n_estimators=200, random_state=42)
# bc = BaggingClassifier(n_estimators=50, random_state=2)
xgb = XGBRegressor(n_estimators=100,random_state=42)
# abc = AdaBoostClassifier(n_estimators=150, random_state=2)
svr = SVR(kernel="linear")

In [93]:
clfs = {
    'svr': svr,
    'lr' : lr,
    'rr' : ridge,
    'rfc': rfc,
    'gbr': gbr,
    'xgb': xgb
}

In [95]:
def train_classifier(clf,X_train,y_train,X_val,y_val):
    clf.fit(X_train,y_train)
    y_train_pred = clf.predict(X_train)
    y_pred = clf.predict(X_val)
    accuracy = mean_squared_error(y_train,y_train_pred)
    val_accuracy = mean_squared_error(y_val, y_pred)
    
    return accuracy, val_accuracy

In [97]:
scores = []

for name,clf in clfs.items():
    
    train,val = train_classifier(clf, X_train,y_train, X_val, y_val)
    print(name)
    scores.append([name,train,val])

svr
lr
rr
rfc
gbr
xgb

In [99]:
scores

[['svr', 45.130125376215375, 159.31347636478796],
 ['lr', 4.235120754194245e-25, 212.65660199339123],
 ['rr', 4.360980496057456, 183.48529161760246],
 ['rfc', 0.0, 206.31716417910448],
 ['gbr', 78.82057190051084, 144.24512069526196],
 ['xgb', 32.03253819018971, 149.30402468321537]]