<a href="https://colab.research.google.com/github/Manish-k723/Cricket-score-prediction/blob/main/Used_transformers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data1.csv')

In [3]:
data.head()

,Unnamed: 0,ID,inning,Venue,Season,Batting_team,Bowling_team,powerplay_runs,is_india,batsmen1,...,bowler2,bowler3,bowler4,bowler5,bowler6,bowler7,bowler8,bowler9,bowler10,bowler11
0,0,1312200,1,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Gujarat Titans,44,1,['YBK Jaiswal',...,'Shubman Gill','MS Wade','HH Pandya','DA Miller','R Tewatia','Rashid Khan','R Sai Kishore','LH Ferguson','Yash Dayal','Mohammed Shami']
1,1,1312200,2,"Narendra Modi Stadium, Ahmedabad",2022,Gujarat Titans,Rajasthan Royals,31,1,['WP Saha',...,'JC Buttler','SV Samson','D Padikkal','SO Hetmyer','R Ashwin','R Parag','TA Boult','OC McCoy','M Prasidh Krishna','YS Chahal']
2,2,1312199,1,"Narendra Modi Stadium, Ahmedabad",2022,Royal Challengers Bangalore,Rajasthan Royals,46,1,['V Kohli',...,'JC Buttler','SV Samson','D Padikkal','SO Hetmyer','R Parag','R Ashwin','TA Boult','YS Chahal','M Prasidh Krishna','OC McCoy']
3,3,1312199,2,"Narendra Modi Stadium, Ahmedabad",2022,Rajasthan Royals,Royal Challengers Bangalore,67,1,['YBK Jaiswal',...,'F du Plessis','RM Patidar','GJ Maxwell','MK Lomror','KD Karthik','Shahbaz Ahmed','PWH de Silva','HV Patel','JR Hazlewood','Mohammed Siraj']
4,4,1312198,1,"Eden Gardens, Kolkata",2022,Royal Challengers Bangalore,Lucknow Super Giants,52,1,['V Kohli',...,'KL Rahul','M Vohra','DJ Hooda','MP Stoinis','E Lewis','KH Pandya','PVD Chameera','Mohsin Khan','Avesh Khan','Ravi Bishnoi']

In [4]:
# data.drop(['Team1Players', 'Team2Players'], axis = 1, inplace = True)

In [5]:
data.columns

Index(['Unnamed: 0', 'ID', 'inning', 'Venue', 'Season', 'Batting_team',
       'Bowling_team', 'powerplay_runs', 'is_india', 'batsmen1', 'batsmen2',
       'batsmen3', 'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8',
       'batsmen9', 'batsmen10', 'batsmen11', 'bowler1', 'bowler2', 'bowler3',
       'bowler4', 'bowler5', 'bowler6', 'bowler7', 'bowler8', 'bowler9',
       'bowler10', 'bowler11'],
      dtype='object')

In [6]:
data.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1896 entries, 0 to 1895
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              1896 non-null   int64
 1   inning          1896 non-null   int64
 2   Venue           1896 non-null   object
 3   Season          1896 non-null   object
 4   Batting_team    1896 non-null   object
 5   Bowling_team    1896 non-null   object
 6   powerplay_runs  1896 non-null   int64
 7   is_india        1896 non-null   int64
 8   batsmen1        1896 non-null   object
 9   batsmen2        1896 non-null   object
 10  batsmen3        1896 non-null   object
 11  batsmen4        1896 non-null   object
 12  batsmen5        1896 non-null   object
 13  batsmen6        1896 non-null   object
 14  batsmen7        1896 non-null   object
 15  batsmen8        1896 non-null   object
 16  batsmen9        1896 non-null   object
 17  batsmen10       1896 non-null   object
 18  batsmen11       1896 non-null   object
 19  bowler1         1896 non-null   object
 20  bowler2         1896 non-null   object
 21  bowler3         1896 non-null   object
 22  bowler4         1896 non-null   object
 23  bowler5         1896 non-null   object
 24  bowler6         1896 non-null   object
 25  bowler7         1896 non-null   object
 26  bowler8         1896 non-null   object
 27  bowler9         1896 non-null   object
 28  bowler10        1896 non-null   object
 29  bowler11        1896 non-null   object
dtypes: int64(4), object(26)
memory usage: 444.5+ KB

In [8]:
data.sample(3)

,ID,inning,Venue,Season,Batting_team,Bowling_team,powerplay_runs,is_india,batsmen1,batsmen2,...,bowler2,bowler3,bowler4,bowler5,bowler6,bowler7,bowler8,bowler9,bowler10,bowler11
1667,392239,2,New Wanderers Stadium,2009,Royal Challengers Bangalore,Deccan Chargers,36,0,['JH Kallis','MK Pandey',...,'HH Gibbs','TL Suman','A Symonds','RG Sharma','Y Venugopal Rao','AA Bilakhia','RJ Harris','PP Ojha','Harmeet Singh','RP Singh']
992,734039,1,"Punjab Cricket Association Stadium, Mohali",2014,Delhi Daredevils,Kings XI Punjab,44,1,['KP Pietersen','MA Agarwal',...,'M Vohra','GJ Maxwell','DA Miller','GJ Bailey','WP Saha','AR Patel','MG Johnson','R Dhawan','Karanveer Singh','P Awana']
1292,548362,1,Subrata Roy Sahara Stadium,2012,Royal Challengers Bangalore,Pune Warriors,66,1,['CH Gayle','TM Dilshan',...,'MJ Clarke','MK Pandey','RV Uthappa','AP Majumdar','AD Mathews','SPD Smith','B Kumar','AC Thomas','R Sharma','K Upadhyay']

In [27]:
data['Season'] = np.where(data['Season']=='2007/08', '2008', data['Season'])
data['Season'] = np.where(data['Season']=='2009/10', '2010', data['Season'])
data['Season'] = np.where(data['Season']=='2020/21', '2020', data['Season'])

In [28]:
data['Season'].unique()

array(['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008'],
      dtype=object)

In [29]:
data['Season'] =  data['Season'].astype(int)

In [31]:
# Define columns to transform
numeric_features = ['is_india','inning']
categorical_features = ['Venue', 'Batting_team', 'Bowling_team', 'batsmen1', 'batsmen2', 'batsmen3', 
                        'batsmen4', 'batsmen5', 'batsmen6', 'batsmen7', 'batsmen8', 'batsmen9', 'batsmen10', 
                        'batsmen11', 'bowler1', 'bowler2', 'bowler3', 'bowler4', 'bowler5', 'bowler6', 'bowler7', 'bowler8', 'bowler9', 'bowler10', 'bowler11']

In [32]:
train_df = data[data['Season']<2021]
val_df = data[data['Season']>2020]

In [35]:
X_train = train_df.drop('powerplay_runs', axis=1)
y_train = train_df['powerplay_runs']
X_val = val_df.drop('powerplay_runs', axis=1)
y_val = val_df['powerplay_runs']

In [24]:
# Split data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
# Define transformers for numeric and categorical features
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [37]:
# Use ColumnTransformer to apply transformers to specific columns
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)])

In [38]:
# Create a pipeline that applies the preprocessor and fits a linear regression model
model_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                      ('regressor', LinearRegression())])

In [39]:
model_pipeline.fit(X_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Venue', 'Batting_team',
                                                   'Bowling_team', 'batsmen1',
                                                   'batsmen2', 'batsmen3',
                                                   'batsmen4', 'batsmen5',
                                                   'batsmen6', 'batsmen7',
                                                   'batsmen8', 'batsmen9',
                                                   'batsmen10', 'batsmen11',
                                                   'bowler1', 'bowler2',
                                                   'bowler3', 'bowler4',
                                                   'bowler5', 'bowler6',
                                                   'bowler7', 'bowler8',
                                                   'bowler9', 'bowler10',
                                                   'bowler11'])])),
                ('regressor', LinearRegression())])

In [41]:
score = model_pipeline.score(X_val, y_val)

In [42]:
score

-0.5423211202367737